<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vetkop-Rejestracja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/css.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
     <link rel="stylesheet" href="./styles/loginforms.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a href="/" class="logo">
            <i class="fa-solid fa-dog"></i>
            Vetkop
        </a>
        <a href="/logowanie" class="login-button">Zaloguj</a>
    </nav>

    <form class="user-form" method="post" th:action="@{/registerPost}" th:object="${user}">
        <h2 class="user-form-title">Zarejestruj się na Vetkop</h2>
        <input name="username" placeholder="Nazwa użytkownika" required>
        <input name="email" placeholder="email" type="email" required>
        <input name="password" placeholder="Hasło" type="password" required>
        <button class="user-form-button" value="Login">Zarejestruj się</button>
    </form>

    <footer>Vetkop ®, developed by Jojo</footer>
    </div>
    </body>
</html>